html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00aae7;
  outline: 1px solid slategrey;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

h1 {
  font-family: "Open Sans";
  margin: 0;
}

h2 {
  font-family: "Open Sans";
  margin: 0;
}

h3 {
  font-family: "Open Sans";
  margin: 0;
}

h4 {
  font-family: "Open Sans";
  margin: 0;
}

span {
  font-family: "Open Sans";
}

a {
  font-family: "Open Sans";
  text-decoration: none;
}

p {
  font-family: "Open Sans";
}

ul,
li {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  /*    user-select: none;*/
}

.btn {
  max-width: 314px;
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18.5px 20px;
  border: 1px solid #cfa968;
  background-color: #cfa968;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.btn:hover {
  color: #cfa968;
  background: #fff;
}

.btn:hover a {
  color: #fff;
}

.btn a {
  color: #00aae7;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: auto;
  }
}

/*CUSTOM BLOCK*/
/*flex greed*/
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.item.item-50 {
  width: calc(50% - 10px);
}

@media (max-width: 768px) {
  .item.item-50 {
    width: 100%;
  }
}

.item.item-30 {
  width: calc(33% - 10px);
}

@media (max-width: 992px) {
  .item.item-30 {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .item.item-30 {
    width: 100%;
  }
}

.item.item-25 {
  width: 25%;
}

@media (max-width: 992px) {
  .item.item-25 {
    width: calc(50% - 10px);
  }
}

@media (max-width: 550px) {
  .item.item-25 {
    width: 100%;
  }
}

.right {
  float: right;
}

@media (max-width: 992px) {
  .right {
    float: none;
  }
}

.left {
  float: left;
}

@media (max-width: 992px) {
  .left {
    float: none;
  }
}

.image-wrapper.right {
  margin-left: 30px;
}

.image-wrapper.left {
  margin-right: 30px;
}

.image-wrapper img {
  display: block;
  margin: auto;
}

.section-wrapper {
  padding: 60px 0;
}

.up_btn {
  background: url(../images/chevron-arrow-up.png) no-repeat center;
  width: 32px;
  height: 32px;
  position: fixed;
  right: 20px;
  cursor: pointer;
}

/*Mobile menu*/
.mobile_nav {
  width: 100%;
  position: absolute;
  display: none;
  justify-content: space-between;
  align-items: center;
  top: 270px;
  left: 0px;
  background: rgba(34, 34, 34, 0.7);
  z-index: 9999;
}

.mobile_nav .fixed_off {
  margin: 5px;
}

@media (max-width: 992px) {
  .mobile_nav {
    position: fixed;
    height: 60px;
    background: #ffffff;
    display: block;
    top: 0;
  }
}

.mobile_nav .logo img {
  display: block;
  margin: 12px 20px 0 auto;
  height: 38px;
}

.mob_menu {
  display: none;
}

@media (max-width: 992px) {
  .mob_menu {
    display: block;
  }
  .mob_menu ul {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
  }
  .mob_menu li {
    width: 100%;
  }
  .mob_menu a {
    display: block;
    text-align: center;
  }
}

.mob_menu .close {
  width: 30px;
  height: 30px;
  background: url(../images/close.png) no-repeat center;
  position: absolute;
  right: 20px;
  top: 20px;
}

.mob_menu a {
  padding: 10px;
  font-size: 25px;
  color: #fff;
}

.mob_menu_wrapper {
  display: none;
}

@media (max-width: 768px) {
  .mob_menu_wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(34, 34, 34, 0.7);
    position: fixed;
    top: 0;
    left: 0;
  }
}

.mob_menu_btn {
  display: inline-block;
  padding: 20px;
  padding-left: 70px;
  color: #fff;
}

/*END CUSTOM BLOCK*/
/*MODAL CONTENT*/
div.box-close {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 17px;
  height: 17px;
  background: url(../images/close.png) no-repeat center;
  cursor: pointer;
}

div.box-close:hover {
  animation: 1s swing infinite;
}

.modal-wrapper {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

.modal-wrapper.active {
  opacity: 1;
  z-index: 0;
}

.modal-wrapper.active .modal-content {
  top: inherit;
}

.modal-content {
  max-height: 80vh;
  overflow: auto;
  max-width: 200px;
  background: #999;
  padding: 20px;
  color: #fff;
  position: relative;
  top: -100%;
  transition: all ease 0.3s;
}

.modal-overflow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.form-wrapper {
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
}

.form-wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.form-wrapper input[type=tel],
.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper select {
  width: 100%;
  color: #858585;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  border: 2px solid #dedede;
  margin-bottom: 25px;
  padding: 19.5px 20px;
  box-sizing: border-box;
  outline: none;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #858585;
}

.form-wrapper input::-moz-placeholder {
  color: #858585;
}

.form-wrapper input:-moz-placeholder {
  color: #858585;
}

.form-wrapper input:-ms-input-placeholder {
  color: #858585;
}

.form-wrapper .btn {
  width: 100%;
}

.form-wrapper select {
  padding: 8px 20px;
}

.form-wrapper textarea {
  width: 100%;
  height: 95px;
  border: 2px solid #cccccc;
  color: #858585;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 9.5px 20px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

.form-wrapper textarea::-webkit-input-placeholder {
  color: #808080;
}

.form-wrapper textarea::-moz-placeholder {
  color: #808080;
}

.form-wrapper textarea:-moz-placeholder {
  color: #808080;
}

.form-wrapper textarea:-ms-input-placeholder {
  color: #808080;
}

.form-wrapper .select .image-wrapper {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  border: 2px solid #eaeaea;
  background-color: #eaeaea;
  user-select: none;
  pointer-events: none;
}

.form-wrapper .select .image-wrapper i {
  position: relative;
  top: 10px;
  left: 15px;
}

div.grippie {
  display: none !important;
}

/*END MODAL CONTENT*/
/*mobile menu btn*/
.cmn-toggle-switch {
  display: block;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  background-color: #cfa968;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 28px;
  left: 12px;
  right: 12px;
  height: 3px;
  background: white;
  -webkit-transition: background 0s .3s;
  transition: background 0s .3s;
}

.cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition-duration: .3s, .3s;
  transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0s;
  transition-delay: .3s, 0s;
  content: "";
}

.cmn-toggle-switch span:before {
  top: -12px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch span:after {
  bottom: -12px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.cmn-toggle-switch.active {
  background-color: #cfa968;
  z-index: 1;
}

.cmn-toggle-switch.active span {
  background: 0 0;
}

.cmn-toggle-switch.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cmn-toggle-switch.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cmn-toggle-switch.active span:before, .cmn-toggle-switch.active span:after {
  -webkit-transition-delay: 0s, .3s;
  transition-delay: 0s, .3s;
}

/*end mobile menu btn*/
/*HEADER*/
header {
  background-color: #ffffff;
  padding: 20px 0 15px;
}

@media (max-width: 992px) {
  header {
    display: none;
  }
}

header .flex-row {
  align-items: center;
}

header .contacts a {
  position: relative;
  color: #262626;
  font-size: 28px;
  font-weight: 400;
  padding-left: 30px;
}

header .contacts a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 27px;
  background: url("../images/icon_phone.png") no-repeat center;
}

/*END HEADER*/
/*NAV*/
.main_nav {
  background-color: #cfa968;
}

@media (max-width: 992px) {
  .main_nav {
    display: none;
  }
}

.main_nav .flex-row {
  justify-content: flex-start;
  align-items: center;
}

.main_nav li {
  list-style-type: none;
}

.main_nav li:last-child {
  margin-left: auto;
}

.main_nav li a {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  margin-right: 42px;
  padding: 20px 0;
}

@media (max-width: 1200px) {
  .main_nav li a {
    margin-right: 35px;
  }
}

.main_nav .search {
  margin-left: auto;
  position: relative;
}

.main_nav .search:after {
  content: '';
  position: absolute;
  right: 5px;
  top: -9px;
  width: 30px;
  height: 30px;
  background: url("../images/icon_search.png") no-repeat center;
  cursor: pointer;
}

.main_nav .search:hover input {
  opacity: 1;
}

.main_nav .search input {
  max-width: 175px;
  border: 2px solid #dedede;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 40px;
  outline: none;
  opacity: 0;
  transition: 0.3s;
}

/*END NAV*/
/*SECTION #1*/
.section_1 {
  background: url("../images/sect1-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 70px 0 70px;
}

.section_1 .flex-row {
  align-items: center;
}

@media (max-width: 992px) {
  .section_1 .flex-row {
    flex-direction: column;
    padding-top: 50px;
  }
}

.section_1 h1 {
  max-width: 430px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 55px;
  margin-top: -30px;
}

@media (max-width: 550px) {
  .section_1 h1 {
    font-size: 35px;
    padding-bottom: 25px;
  }
}

.section_1 h3 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 60px;
}

@media (max-width: 550px) {
  .section_1 h3 {
    padding-bottom: 25px;
  }
}

.section_1 p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.section_1 .item {
  position: relative;
}

@media (max-width: 992px) {
  .section_1 .item {
    margin-bottom: 20px;
  }
}

.section_1 .inner-wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 100%;
  max-width: 501px;
  height: 100%;
  border: 10px solid #cfa968;
  z-index: 0;
}

.section_1 .form-wrapper {
  max-width: 501px;
  margin-left: auto;
  padding: 75px 70px 100px;
  box-shadow: 9px 9px 16px rgba(14, 14, 14, 0.24);
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

@media (max-width: 550px) {
  .section_1 .form-wrapper {
    padding: 20px;
  }
}

.section_1 .form-wrapper p {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.section_1 .form-wrapper form {
  padding-top: 50px;
}

/*END SECTION #1*/
/*SECTION #2*/
.section_2 {
  background: url("../images/sect2-bg.jpg") no-repeat center;
  background-size: cover;
}

@media (max-width: 992px) {
  .section_2 {
    background: none;
  }
}

.section_2 .flex-row {
  padding: 536px 0 144px;
}

@media (max-width: 992px) {
  .section_2 .flex-row {
    flex-direction: column;
    padding: 0;
  }
}

.section_2 .flex-row .item {
  width: 50%;
  background-color: rgba(207, 169, 104, 0.7);
}

@media (max-width: 992px) {
  .section_2 .flex-row .item:first-child {
    width: 100%;
    background: url("../images/bug_bg.jpg") no-repeat top;
    background-size: cover;
    padding: 200px 0 50px;
  }
  .section_2 .flex-row .item:last-child {
    width: 100%;
    background: url("../images/loyer_bg.jpg") no-repeat top;
    background-size: cover;
    padding: 200px 0 50px;
  }
}

.section_2 .flex-row .item p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  padding: 3px 3px 10px;
}

@media (max-width: 992px) {
  .section_2 .flex-row .item p {
    background-color: rgba(207, 169, 104, 0.7);
  }
}

@media (max-width: 550px) {
  .section_2 .flex-row .item p {
    font-size: 35px;
  }
}

h2.title {
  color: #292929;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 300;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}

h2.title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
  height: 4px;
  background-color: #cfa968;
}

/*END SECTION #2*/
/*SECTION #3*/
.section_3 {
  padding: 86px 0 0;
  background-color: #f4f4f4;
}

.section_3 .flex-row {
  padding-top: 50px;
}

.section_3 .image-wrapper {
  margin-bottom: 23px;
}

.section_3 .item {
  margin-bottom: 70px;
}

.section_3 p {
  max-width: 207px;
  margin: auto;
  color: #262626;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

/*END SECTION #3*/
/*SECTION #4*/
.section_4 {
  padding: 85px 0;
}

.section_4 h2 {
  color: #292929;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 550px) {
  .section_4 h2 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .section_4 h2 {
    font-size: 25px;
  }
}

.section_4 h2 span {
  color: #ffffff;
  background: #cfa968;
  padding-right: 10px;
}

.section_4 .subtitle {
  max-width: 100%;
  color: #727272;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
}

.section_4 .flex-row {
  padding-top: 110px;
}

.section_4 .image-wrapper {
  margin-bottom: 35px;
}

.section_4 p {
  position: relative;
  max-width: 233px;
  margin: auto;
  padding-top: 35px;
  text-align: center;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

.section_4 p:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90px;
  height: 4px;
  background-color: #cfa968;
}

/*END SECTION #4*/
/*SECTION #5*/
.section_5 {
  background: url("../images/sect4-bg.jpg") no-repeat center;
  padding: 100px 0;
  background-size: cover;
}

.section_5 h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 45px;
}

.section_5 .surprize {
  max-width: 256px;
  margin: 0 auto 45px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  padding: 5px 10px 10px;
  background-color: rgba(207, 169, 104, 0.8);
}

.section_5 p {
  color: #d9d9d9;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.section_5 form {
  padding: 110px 70px 0;
}

@media (max-width: 992px) {
  .section_5 form {
    padding: 20px 0;
  }
}

@media (max-width: 1200px) {
  .section_5 .flex-row {
    flex-direction: column;
    align-items: center;
  }
}

.section_5 input[type="text"],
.section_5 input[type="tel"] {
  max-width: 360px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .section_5 input[type="text"],
  .section_5 input[type="tel"] {
    margin-bottom: 20px;
  }
}

.section_5 .btn {
  max-width: 270px;
  margin: 0;
}

/*END SECTION #5*/
/*SECTION #6*/
.section_6 {
  background: url("../images/sect-6-bg.jpg") no-repeat center;
  padding: 82px 0;
}

.section_6 .title {
  text-align: left;
}

.section_6 .title:after {
  right: inherit;
}

.section_6 .review {
  max-width: 518px;
  padding: 75px 20px 0;
}

.section_6 .review__wrapper {
  min-height: 202px;
  padding: 10px 20px;
  box-shadow: 0 13px 49px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: relative;
}

.section_6 .review__wrapper:after {
  content: '';
  position: absolute;
  left: 86px;
  bottom: -14px;
  border-left: 10px solid rgba(34, 34, 34, 0);
  border-right: 10px solid rgba(34, 34, 34, 0);
  border-top: 14px solid white;
}

.section_6 .review__wrapper p {
  color: #272727;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.section_6 .review__info {
  padding-top: 40px;
  padding-left: 50px;
  justify-content: flex-start;
  align-items: center;
}

.section_6 .review__image {
  width: 90px;
  height: 90px;
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 29px;
}

.section_6 .review__name {
  color: #292929;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

/*END SECTION #6*/
/*SECTION #7*/
.section_7 {
  padding: 100px 0;
}

.section_7 .flex-row {
  justify-content: flex-start;
}

.section_7 .title {
  text-align: left;
}

.section_7 .title:after {
  right: inherit;
}

.section_7 .item:first-child {
  width: 470px;
  margin-right: 130px;
}

@media (max-width: 992px) {
  .section_7 .item:first-child {
    margin-right: 0;
  }
}

.section_7 .item:first-child p {
  padding: 25px 0 20px;
  color: #727272;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
}

.section_7 .item:last-child {
  width: 320px;
}

@media (max-width: 550px) {
  .section_7 .item:last-child {
    margin-top: 20px;
  }
}

.section_7 .item:last-child .title {
  font-size: 25px;
}

.section_7 input[type="text"],
.section_7 input[type="tel"],
.section_7 textarea {
  padding: 9.5px 20px;
  border: 1px solid #cccccc;
}

.section_7 .btn {
  width: 126px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 0;
  text-transform: inherit;
  padding: 10px 20px;
}

.section_7 .address {
  padding-top: 40px;
}

.section_7 .address__city, .section_7 .address__phone, .section_7 .address__mail {
  position: relative;
  display: block;
  padding-left: 40px;
  color: #262626;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 20px;
}

.section_7 .address__city:before, .section_7 .address__phone:before, .section_7 .address__mail:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
}

.section_7 .address__city:before {
  width: 18px;
  height: 26px;
  background: url("../images/icon_locate.png") no-repeat center;
}

.section_7 .address__phone:before {
  width: 25px;
  height: 26px;
  background: url("../images/icon_phone.png") no-repeat center;
}

.section_7 .address__mail:before {
  width: 27px;
  height: 21px;
  background: url("../images/icon_mail.png") no-repeat center;
}

/*END SECTION #7*/
/*SECTION #8*/
.section_8 .map-container {
  height: 502px;
}

/*END SECTION #8*/
/*FOOTER*/
footer {
  padding: 60px 0;
  background-color: #262626;
}

footer .flex-row {
  align-items: center;
}

footer .socials {
  position: relative;
}

@media (max-width: 550px) {
  footer .socials {
    max-width: 60%;
  }
}

footer .socials p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 20px;
}

@media (max-width: 550px) {
  footer .socials p {
    font-size: 16px;
  }
}

footer .socials div {
  display: inline-block;
  margin-right: 30px;
}

footer .socials .vk {
  width: 31px;
  height: 19px;
  background: url("../images/vk.png") no-repeat center;
}

footer .socials .inst {
  width: 21px;
  height: 21px;
  background: url("../images/inst.png") no-repeat center;
}

footer .socials .fb {
  width: 14px;
  height: 26px;
  background: url("../images/fb.png") no-repeat center;
}

@media (max-width: 992px) {
  footer .address {
    display: none;
  }
}

footer .address p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 10px;
}

footer .address__phone {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 300;
}

footer .address__city, footer .address__mail {
  position: relative;
  display: block;
  padding-left: 40px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 20px;
}

footer .address__city:before, footer .address__mail:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
}

footer .address__city:before {
  width: 18px;
  height: 26px;
  background: url("../images/footer-1.png") no-repeat center;
}

footer .address__mail:before {
  width: 27px;
  height: 21px;
  background: url("../images/footer-2.png") no-repeat center;
}

/*END FOOTER*/
/*# sourceMappingURL=main.css.map */