$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-sd: 550px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1600px !default;
$font-family: 'Open Sans';
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #00aae7;
		outline: 1px solid slategrey;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-track-piece {
		background-color: #fff;
	}
}

h1 {
	font-family: $font-family;
	margin: 0;
}

h2 {
	font-family: $font-family;
	margin: 0;
}

h3 {
	font-family: $font-family;
	margin: 0;
}

h4 {
	font-family: $font-family;
	margin: 0;
}

span {
	font-family: $font-family;
}

li {}

a {
	font-family: $font-family;
	text-decoration: none;
}

a:hover {}

p {
	font-family: $font-family;
}

ul,
li {
	padding: 0;
	margin: 0;
	font-family: $font-family;
	font-size: 14px;
	font-weight: 300;
}

img {
	max-width: 100%;
}

body {
	position: relative;
	/*    user-select: none;*/
}

.btn {
	max-width: 314px;
	display: block;
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18.5px 20px;
	border: 1px solid #cfa968;
	background-color: #cfa968;
	transition: 0.3s;
	user-select: none;
	cursor: pointer;
	text-align: center;
	margin: auto;
	&:hover {
		color: #cfa968;
		background: #fff;
		a {
			color: #fff;
		}
	}
	a {
		color: #00aae7;
		font-family: $font-family;
		font-size: 18px;
		font-weight: 400;
	}
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: $screen-xl) {
		width: $screen-xl;
	}
	@media (max-width: $screen-xl) {
		width: auto;
	}
}

/*CUSTOM BLOCK*/

/*flex greed*/

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	flex-wrap: wrap;
}

.item {
	&.item-50 {
		width: calc(50% - 10px);
		@media (max-width: $screen-md) {
			width: 100%;
		}
	}
	&.item-30 {
		width: calc(33% - 10px);
		@media (max-width: $screen-lg) {
			width: calc(50% - 10px);
		}
		@media (max-width: $screen-md) {
			width: 100%;
		}
	}
	&.item-25 {
		width: 25%;
		@media (max-width: $screen-lg) {
			width: calc(50% - 10px);
		}
		@media (max-width: $screen-sd){
			width: 100%;
		}
	}
}

.right {
	float: right;
	@media (max-width: $screen-lg) {
		float: none;
	}
}

.left {
	float: left;
	@media (max-width: $screen-lg) {
		float: none;
	}
}

.image-wrapper {
	&.right {
		margin-left: 30px;
	}
	&.left {
		margin-right: 30px;
	}
	img {
		display: block;
		margin: auto;
	}
}

.section-wrapper {
	padding: 60px 0;
}

.up_btn {
	background: url(../images/chevron-arrow-up.png)no-repeat center;
	width: 32px;
	height: 32px;
	position: fixed;
	right: 20px;
	cursor: pointer;
}

/*Mobile menu*/

.mobile_nav {
	width: 100%;
	position: absolute;
	display: none;
	justify-content: space-between;
	align-items: center;
	top: 270px;
	left: 0px;
	background: rgba(34, 34, 34, 0.7);
	z-index: 9999;
	.fixed_off {
		margin: 5px;
	}
	@media (max-width: $screen-lg) {
		position: fixed;
		height: 60px;
		background: #ffffff;
		display: block;
		top: 0;
	}
	.logo img {
		display: block;
		margin: 12px 20px 0 auto;
		height: 38px;
	}
}

.mob_menu {
	display: none;
	@media (max-width: $screen-lg) {
		display: block;
		ul {
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 250px;
		}
		li {
			width: 100%;
		}
		a {
			display: block;
			text-align: center;
		}
	}
	.close {
		width: 30px;
		height: 30px;
		background: url(../images/close.png)no-repeat center;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	a {
		padding: 10px;
		font-size: 25px;
		color: #fff;
	}
}

.mob_menu_wrapper {
	display: none;
	@media (max-width: $screen-md) {
		display: none;
		width: 100%;
		height: 100vh;
		background: rgba(34, 34, 34, 0.7);
		position: fixed;
		top: 0;
		left: 0;
	}
}

.mob_menu_btn {
	display: inline-block;
	padding: 20px;
	padding-left: 70px;
	color: #fff;
}

/*END CUSTOM BLOCK*/

/*MODAL CONTENT*/

div.box-close {
	position: absolute;
	right: -40px;
	top: -40px;
	width: 17px;
	height: 17px;
	background: url(../images/close.png)no-repeat center;
	cursor: pointer;
	&:hover {
		animation: 1s swing infinite;
	}
}

.modal-wrapper {
	opacity: 0;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 0.5s;
	&.active {
		opacity: 1;
		z-index: 0;
		.modal-content {
			top: inherit;
		}
	}
}

.modal-content {
	max-height: 80vh;
	overflow: auto;
	max-width: 200px;
	background: #999;
	padding: 20px;
	color: #fff;
	position: relative;
	top: -100%;
	transition: all ease 0.3s;
}

.modal-overflow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.form-wrapper {
	h3 {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
	}
	input[type=tel],
	input[type=text],
	input[type=email],
	select {
		width: 100%;
		color: #858585;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 300;
		border: 2px solid #dedede;
		margin-bottom: 25px;
		padding: 19.5px 20px;
		box-sizing: border-box;
		outline: none;
	}
	input::-webkit-input-placeholder {
		color: #858585;
	}
	input::-moz-placeholder {
		color: #858585;
	}
	/* Firefox 19+ */
	input:-moz-placeholder {
		color: #858585;
	}
	/* Firefox 18- */
	input:-ms-input-placeholder {
		color: #858585;
	}
	.btn {
		width: 100%;
	}
	select {
		padding: 8px 20px;
	}
	textarea {
		width: 100%;
		height: 95px;
		border: 2px solid #cccccc;
		color: #858585;
		font-family: $font-family;
		font-size: 16px;
		font-weight: 300;
		box-sizing: border-box;
		padding: 9.5px 20px;
		resize: none;
		outline: none;
		margin-bottom: 20px;
	}
	textarea::-webkit-input-placeholder {
		color: #808080;
	}
	textarea::-moz-placeholder {
		color: #808080;
	}
	/* Firefox 19+ */
	textarea:-moz-placeholder {
		color: #808080;
	}
	/* Firefox 18- */
	textarea:-ms-input-placeholder {
		color: #808080;
	}
	.select .image-wrapper {
		position: absolute;
		right: 20px;
		width: 50px;
		height: 40px;
		border-radius: 0 5px 5px 0;
		border: 2px solid #eaeaea;
		background-color: #eaeaea;
		user-select: none;
		pointer-events: none;
		i {
			position: relative;
			top: 10px;
			left: 15px;
		}
	}
}

div.grippie {
	display: none !important;
}

/*END MODAL CONTENT*/

/*mobile menu btn*/

.cmn-toggle-switch {
	display: block;
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	font-size: 0;
	text-indent: -9999px;
	background-color: #cfa968;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	&:focus {
		outline: none;
	}
	span {
		display: block;
		position: absolute;
		top: 28px;
		left: 12px;
		right: 12px;
		height: 3px;
		background: white;
		-webkit-transition: background 0s .3s;
		transition: background 0s .3s;
		&::before,
		&::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #fff;
			-webkit-transition-duration: .3s, .3s;
			transition-duration: .3s, .3s;
			-webkit-transition-delay: .3s, 0s;
			transition-delay: .3s, 0s;
			content: "";
		}
		&:before {
			top: -12px;
			-webkit-transition-property: top, -webkit-transform;
			transition-property: top, transform;
		}
		&:after {
			bottom: -12px;
			-webkit-transition-property: bottom, -webkit-transform;
			transition-property: bottom, transform;
		}
	}
	&.active {
		background-color: #cfa968;
		z-index: 1;
		span {
			background: 0 0;
			&:before {
				top: 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:before,
			&:after {
				-webkit-transition-delay: 0s, .3s;
				transition-delay: 0s, .3s;
			}
		}
	}
}

/*end mobile menu btn*/

/*HEADER*/

header {
	background-color: #ffffff;
	padding: 20px 0 15px;
	@media (max-width: $screen-lg) {
		display: none;
	}
	.flex-row {
		align-items: center;
	}
	.contacts {
		a {
			position: relative;
			color: #262626;
			font-size: 28px;
			font-weight: 400;
			padding-left: 30px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 3px;
				width: 16px;
				height: 27px;
				background: url('../images/icon_phone.png')no-repeat center;
			}
		}
	}
}

/*END HEADER*/

/*NAV*/

.main_nav {
	background-color: #cfa968;
	@media (max-width: $screen-lg) {
		display: none;
	}
	.flex-row {
		justify-content: flex-start;
		align-items: center;
	}
	li {
		list-style-type: none;
		&:last-child {
			margin-left: auto;
		}
		a {
			display: block;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 600;
			margin-right: 42px;
			padding: 20px 0;
			@media (max-width: $screen-xl){
				margin-right: 35px;
			}
		}
	}
	.search {
		margin-left: auto;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 5px;
			top: -9px;
			width: 30px;
			height: 30px;
			background: url('../images/icon_search.png')no-repeat center;
			cursor: pointer;
		}
		&:hover {
			input {
				opacity: 1;
			}
		}
		input {
			max-width: 175px;
			border: 2px solid #dedede;
			background: transparent;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 16px;
			padding: 5px 10px;
			margin-right: 40px;
			outline: none;
			opacity: 0;
			transition: 0.3s;
		}
	}
}

/*END NAV*/

/*SECTION #1*/

.section_1 {
	background: url('../images/sect1-bg.jpg')no-repeat center;
	background-size: cover;
	padding: 70px 0 70px;
	.flex-row {
		align-items: center;
		@media (max-width: $screen-lg){
			flex-direction: column;
			padding-top: 50px;
		}
	}
	h1 {
		max-width: 430px;
		color: #ffffff;
		font-size: 45px;
		font-weight: 700;
		padding-bottom: 55px;
		margin-top: -30px;
		@media (max-width: $screen-sd){
			font-size: 35px;
			padding-bottom: 25px;
		}
	}
	h3 {
		color: #ffffff;
		font-size: 26px;
		font-weight: 400;
		padding-bottom: 60px;
		@media (max-width: $screen-sd){
			padding-bottom: 25px;
		}
	}
	p {
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
	}
	.item {
		position: relative;
		@media (max-width: $screen-lg){
			margin-bottom: 20px;
		}
	}
	.inner-wrapper {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 100%;
		max-width: 501px;
		height: 100%;
		border: 10px solid #cfa968;
		z-index: 0;
	}
	.form-wrapper {
		max-width: 501px;
		margin-left: auto;
		padding: 75px 70px 100px;
		box-shadow: 9px 9px 16px rgba(14, 14, 14, 0.24);
		background-color: #ffffff;
		position: relative;
		z-index: 1;
		@media (max-width: $screen-sd){
			padding: 20px;
		}
		p {
			color: #262626;
			font-size: 18px;
			font-weight: 400;
			text-align: center;
		}
		form {
			padding-top: 50px;
		}
	}
}

/*END SECTION #1*/

/*SECTION #2*/

.section_2 {
	background: url('../images/sect2-bg.jpg')no-repeat center;
	background-size: cover;
	@media (max-width: $screen-lg){
		background: none;
	}
	.flex-row {
		padding: 536px 0 144px;
		@media (max-width: $screen-lg){
			flex-direction: column;
			padding: 0;
		}
		.item {
			width: 50%;
			background-color: rgba(207, 169, 104, 0.7);
			@media (max-width: $screen-lg){
				&:first-child{
					width: 100%;
					background: url('../images/bug_bg.jpg')no-repeat top;
					background-size: cover;
					padding: 200px 0 50px;
				}
				&:last-child{
					width: 100%;
					background: url('../images/loyer_bg.jpg')no-repeat top;
					background-size: cover;
					padding: 200px 0 50px;
				}
			}
			p {
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 50px;
				font-weight: 400;
				text-align: left;
				padding: 3px 3px 10px;
				@media (max-width: $screen-lg){
					background-color: rgba(207, 169, 104, 0.7);
				}
				@media (max-width: $screen-sd){
					font-size: 35px;
				}
			}
		}
	}
}

h2.title {
	color: #292929;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 300;
	position: relative;
	padding-bottom: 40px;
	text-align: center;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 70px;
		height: 4px;
		background-color: #cfa968;
	}
}

/*END SECTION #2*/

/*SECTION #3*/

.section_3 {
	padding: 86px 0 0;
	background-color: #f4f4f4;
	.flex-row {
		padding-top: 50px;
	}
	.image-wrapper {
		margin-bottom: 23px;
	}
	.item {
		margin-bottom: 70px;
	}
	p {
		max-width: 207px;
		margin: auto;
		color: #262626;
		font-family: "Open Sans";
		font-size: 22px;
		font-weight: 400;
		text-align: center;
	}
}

/*END SECTION #3*/

/*SECTION #4*/

.section_4 {
	padding: 85px 0;
	h2 {
		color: #292929;
		font-size: 40px;
		font-weight: 300;
		text-align: center;
		@media (max-width: $screen-sd){
			font-size: 30px;
		}
		@media (max-width: $screen-sm){
			font-size: 25px;
		}
		span {
			color: #ffffff;
			background: #cfa968;
			padding-right: 10px;
		}
	}
	.subtitle {
		max-width: 100%;
		color: #727272;
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		padding-top: 10px;
	}
	.flex-row {
		padding-top: 110px;
	}
	.image-wrapper {
		margin-bottom: 35px;
	}
	p {
		position: relative;
		max-width: 233px;
		margin: auto;
		padding-top: 35px;
		text-align: center;
		color: #262626;
		font-size: 16px;
		font-weight: 400;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 90px;
			height: 4px;
			background-color: #cfa968;
		}
	}
}

/*END SECTION #4*/

/*SECTION #5*/

.section_5 {
	background: url('../images/sect4-bg.jpg')no-repeat center;
	padding: 100px 0;
	background-size: cover;
	h2 {
		color: #ffffff;
		font-size: 40px;
		font-weight: 400;
		text-align: center;
		padding-bottom: 45px;
	}
	.surprize {
		max-width: 256px;
		margin: 0 auto 45px;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 38px;
		font-weight: 300;
		text-align: center;
		padding: 5px 10px 10px;
		background-color: rgba(207, 169, 104, 0.8);
	}
	p {
		color: #d9d9d9;
		font-family: "Open Sans";
		font-size: 25px;
		font-weight: 400;
		text-align: center;
	}
	form {
		padding: 110px 70px 0;
		@media (max-width: $screen-lg){
			padding: 20px 0;
		}
	}
	.flex-row{
		@media (max-width: $screen-xl) {
			flex-direction: column;
			align-items: center;	
		}
	}
	input[type="text"],
	input[type="tel"] {
		max-width: 360px;
		margin-bottom: 0;
		@media (max-width: $screen-xl) {
			margin-bottom: 20px;
		}
	}
	.btn {
		max-width: 270px;
		margin: 0;
	}
}

/*END SECTION #5*/


/*SECTION #6*/

.section_6 {
	background: url('../images/sect-6-bg.jpg')no-repeat center;
	padding: 82px 0;
	.title {
		text-align: left;
		&:after {
			right: inherit;
		}
	}
	.review {
		max-width: 518px;
		padding: 75px 20px 0;
		&__wrapper {
			min-height: 202px;
			padding: 10px 20px;
			box-shadow: 0 13px 49px rgba(0, 0, 0, 0.06);
			background-color: #ffffff;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 86px;
				bottom: -14px;
				border-left: 10px solid rgba(34, 34, 34, 0);
				border-right: 10px solid rgba(34, 34, 34, 0);
				border-top: 14px solid rgb(255, 255, 255);
			}
			p {
				color: #272727;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}
		}
		&__info {
			padding-top: 40px;
			padding-left: 50px;
			justify-content: flex-start;
			align-items: center;
		}
		&__image {
			width: 90px;
			height: 90px;
			box-shadow: 0 7px 24px rgba(0, 0, 0, 0.11);
			background-color: #ffffff;
			border-radius: 50%;
			margin-right: 29px;
		}
		&__name {
			color: #292929;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}
/*END SECTION #6*/

/*SECTION #7*/
.section_7{
	padding: 100px 0;
	.flex-row{
		justify-content: flex-start;
	}
	.title {
		text-align: left;
		&:after {
			right: inherit;
		}
	}
	.item{
		&:first-child{
			width: 470px;
			margin-right: 130px;
			@media (max-width: $screen-lg){
				margin-right: 0;
			}
			p{
				padding: 25px 0 20px;
				color: #727272;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 300;
			}
		}
		&:last-child{
			width: 320px;
			@media (max-width: $screen-sd){
				margin-top: 20px;
			}
			.title{
				font-size: 25px;
			}
		}
	}
	input[type="text"],
	input[type="tel"],
	textarea{
		padding: 9.5px 20px;
		border: 1px solid #cccccc;
	}
	.btn{
		width: 126px;
		font-size: 18px;
		font-weight: 400;
		margin-left: 0;
		text-transform: inherit;
		padding: 10px 20px;
	}
	.address{
		padding-top: 40px;
		&__city,
		&__phone,
		&__mail{
			position: relative;
			display: block;
			padding-left: 40px;
			color: #262626;
			font-family: "Open Sans";
			font-size: 22px;
			font-weight: 300;
			padding-bottom: 20px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 3px;
			}
		}
		&__city{
			&:before{
				width: 18px;
				height: 26px;
				background: url('../images/icon_locate.png')no-repeat center;	
			}
			
		}
		&__phone{
			&:before{
				width: 25px;
				height: 26px;
				background: url('../images/icon_phone.png')no-repeat center;	
			}

		}
		&__mail{
			&:before{
				width: 27px;
				height: 21px;
				background: url('../images/icon_mail.png')no-repeat center;	
			}
		}
	}
}
/*END SECTION #7*/

/*SECTION #8*/
.section_8{
	.map-container{
		height: 502px;
	}
}
/*END SECTION #8*/

/*FOOTER*/
footer{
	padding: 60px 0;
	background-color: #262626;
	.flex-row{
		align-items: center;
	}
	.socials{
		position: relative;
		@media (max-width: $screen-sd){
			max-width: 60%;
		}
		p{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 22px;
			font-weight: 300;
			padding-bottom: 20px;
			@media (max-width: $screen-sd){
				font-size: 16px;
			}
		}
		div{
			display: inline-block;
			margin-right: 30px;
		}
		.vk{
			width: 31px;
			height: 19px;
			background: url('../images/vk.png')no-repeat center;
		}
		.inst{
			width: 21px;
			height: 21px;
			background: url('../images/inst.png')no-repeat center;
		}
		.fb{
			width: 14px;
			height: 26px;
			background: url('../images/fb.png')no-repeat center;
		}
	}
	.address{
		@media (max-width: $screen-lg){
			display: none;
		}
		p{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 22px;
			font-weight: 300;
			padding-bottom: 10px;
		}
		&__phone{
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 27px;
			font-weight: 300;
		}
		&__city,
		&__mail{
			position: relative;
			display: block;
			padding-left: 40px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 22px;
			font-weight: 300;
			padding-bottom: 20px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 3px;
			}
		}
		&__city{
			&:before{
				width: 18px;
				height: 26px;
				background: url('../images/footer-1.png')no-repeat center;	
			}
			
		}
		&__mail{
			&:before{
				width: 27px;
				height: 21px;
				background: url('../images/footer-2.png')no-repeat center;	
			}
		}
	}
}
/*END FOOTER*/