@media (max-width: 768px){
    .container {
        width: auto;
    }
    #contacts .contacts_info{
        padding-left: 0;
    }
    #contacts .contacts_info .contacts_info_logotype {
        text-align: center;
    }
    #contacts .contacts_info .contacts_info_text p{
        text-align: center;
    }
    #top-slider .top-slider .top-slider_item .top-slider_item_text .top-slider_item_text_text{
        width: 100%;
    }
    #top-slider .top-slider .top-slider_item .top-slider_item_text{
        padding-left: 30px;
    }
    #header .logotype{
        text-align: center;
    }
    #header .main-nav{
        text-align: center;
    }
    #header .main-nav li a{
        padding: 10px 0;
    }
    #header .main-nav a.phone {
    font-size: 24px;
    }
    body h2{
        font-size: 20px;
    }
    body .top-slider_item_text_title{
        font-size: 25px;
    }
    .contacts_info_details {
        margin-top: 20px;
    }
    .scroll-top{
        display: block;
    }
    .nonebox{
        min-width: 90%;
    }
    a.box-close{
        top: 0;
        right: 0;
    }
}