a:hover,
a:visited,
a:active,
a:focus{
    text-decoration: none;
    outline: inherit;
    color: inherit;
}
body {
  color: #222;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: normal;
  user-select: none;
}
body a {
  color: #222;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
  color: #222;
}
body li,
body ul {
  list-style-type: none;
  margin: 0;
}
body h2 {
  font-size: 36px;
  text-transform: uppercase;
}
p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
}
.clearfix {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#header {
  overflow: hidden;
}
#header .main-nav {
  text-align: right;
}
#header .main-nav ul{
    display: inline-block;
}
#header .main-nav li{
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
#header .main-nav li a{
  display: block;
  padding: 50px 0 30px;
  margin-left: 20px;
  position: relative;
}
#header .main-nav  a.phone{
  display: inline-block;
  margin-left: 20px;
  font-size: 34px;
  padding: 0;
  transition: 0.3s;
}
#header .main-nav li a:hover{
  color: #ffd900;
}

#header .main-nav li:last-child a:after {
  background: none;
}
#header a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
#header p {
  display: block;
  position: relative;
  left: 56px;
  top: -16px;
}
#header span {
  font-size: 40px;
}
#header .logotype {
  margin: 20px 0 0;
}
#header .logotype img{
  transition: 0.5s;
}
#header .logotype img:hover{
  cursor: pointer;
  filter: contrast(153%);
}
#sub-nav{
  background: #222;
}
#sub-nav .sub-nav-bar {
  background: #222;
  text-align: right;
  font-style: italic;
}
#sub-nav li {
  display: inline-block;
}
#sub-nav li a {
  display: block;
  font-size: 17px;
  color: #fff;
  padding: 10px;
}
#sub-nav li a:hover{
  background: rgba(148, 148, 148, 0.14);;
  color: #ffd900;
}
#sub-nav li.active:after {
  content: '';
  display: block;
  background: #fff;
  width: 50px;
  height: 2px;
  margin: 0 auto;
}
#top-slider .top-slider {
  height: 500px;
  background: #eaeaea;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
}
#top-slider .top-slider .top-slider_item {
  min-height: 500px;
  background-size: cover;
  border: 1px solid #222;
}
#top-slider .top-slider .top-slider_item .top-slider_item_text {
  margin: 6% 0 0;
  font-family: 'Roboto';
  box-shadow: inset 0px 0px 193px 0px rgb(255, 255, 255);
  padding-bottom: 40px;
}
#top-slider .top-slider .top-slider_item .top-slider_item_text .top-slider_item_text_title2 {
  font-weight: bold;
}
#top-slider .top-slider .top-slider_item .top-slider_item_text .top-slider_item_text_text {
  margin: 25px 0 45px 0;
  width: 60%;
  font-size: 20px;
  text-shadow: 0px 0px 10px #fff;
}
#top-slider .top-slider .top-slider_item .top-slider_item_text .top-slider_item_text_btn {
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffd900;
  border: 2px solid #ffd900;
  padding: 12px 0;
  margin: 15px 0 0px 0;
  trasparent: 0.3s;
  cursor: pointer;
}
#top-slider .top-slider .top-slider_item .top-slider_item_text .top-slider_item_text_btn:hover {
  background: #ffd900;
  color: #fff;
}
#top-slider .slick-dots {
  text-align: left;
  top: 40%;
  width: 50px;
  height: 150px;
}
.slick-dots li {
  display: block;
  margin: 10px 5px;
  padding: 0px 10px;
}
.slick-dots li.slick-active button {
  background: #ffd900;
  border: none !important;
}
.slick-dots li button {
  border: 1px solid #ffd900;
}
.slick-dots li button:hover,
.slick-dots li button:active {
  background: #ffd900;
  border: none;
}
.slick-dots li button:before {
  content: none;
}
.simple-row {
  height: 90px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#the-studio {
  background: #d8d8d8;
}
#the-studio .the-studio {
  height: 70px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#the-studio .the-studio h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}
#the-studio .the-studio_who-we-are {
  width: 100%;
  max-width: 960px;
  min-height: 500px;
  background: #fff;
  padding: 70px 0 0 90px;
  color: #222;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-1,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  color: #b9b9b9;
  margin-bottom: 35px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-1.active,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-2.active {
  color: #222;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-1.active:after,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-2.active:after {
  background: #222;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-1:after,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-2:after {
  content: '';
  background: #b9b9b9;
  display: block;
  width: 50px;
  height: 2px;
  margin: 0 auto;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_title-1 {
  margin-right: 40px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_text {
  margin-bottom: 40px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_photoshop p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_development p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_marketing p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_wordpress p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_scale {
  display: inline-block;
  font-weight: bold;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_photoshop > p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_development > p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_marketing > p,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_wordpress > p {
  min-width: 105px;
  margin-right: 10px;
  margin-bottom: 30px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_scale,
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter {
  height: 10px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_scale {
  width: 455px;
  background: #CCC;
  margin-right: 10px;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: #222;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter.ph {
  width: 75%;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter.dv {
  width: 85%;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter.ma {
  width: 90%;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_meter.wo {
  width: 95%;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_btn {
  width: 190px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 2px solid #222;
  padding: 12px 0;
  margin: 15px 0 0px 0;
}
#the-studio .the-studio_who-we-are .the-studio_who-we-are_bar .the-studio_who-we-are_bar_btn:hover {
  background: rgba(125, 209, 200, 0.34);
}
#the-studio .the-studio_team {
  min-height: 270px;
  background: url(../img/back-ow-work.jpg) repeat-x;
  background-size: cover;
}
#the-studio .the-studio_team .the-studio_team_item {
  position: relative;
  top: -25px;
  width: 100%;
  max-width: 376px;
  min-height: 280px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background: #5c5d5f;
  box-shadow: 0 0 10px 10px #aaacae;
  font-family: 'Roboto';
}
#the-studio .the-studio_team .the-studio_team_item h3 {
  padding-top: 85px;
  font-size: 18px;
  font-weight: bold;
}
#the-studio .the-studio_team .the-studio_team_item p {
  width: 85%;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
}
#the-studio .the-studio_team .the-studio_team_item p:after {
  display: block;
  content: '';
  height: 1px;
  width: 50px;
  background: #fff;
  margin: 15px auto;
}
#the-studio .the-studio_team .the-studio_team_social {
  display: inline-block;
  margin: 0 7px;
  background: url(../img/the-studio_team_social.png) no-repeat;
  width: 20px;
  height: 20px;
}
#the-studio .the-studio_team .the-studio_team_social.tw {
  background-position: 0px 0px;
}
#the-studio .the-studio_team .the-studio_team_social.fb {
  background-position: -40px 0px;
}
#the-studio .the-studio_team .the-studio_team_social.gp {
  background-position: -80px 0px;
}
#the-studio .the-studio_team .the-studio_team_social.in {
  background-position: -120px 0px;
}
#the-studio #the-studio_slider {
  margin: 30px 0;
  background: #fff;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item {
  min-height: 200px;
  margin-top: 40px;
  font-family: 'Roboto';
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4 {
  padding: 0 20px;
  text-align: justify;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4 .the-studio_slider_item_title h3 {
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4 .the-studio_slider_item_title p {
  font-weight: bold;
  color: #828282;
  margin-bottom: 30px;
  max-width: 384px;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4 .the-studio_slider_item_title .the-studio_slider_item_title_img {
    margin: 0 auto;
    text-align: center;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4:nth-child(2) {
  position: relative;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4:nth-child(2):before {
  display: block;
  content: '';
  height: 100px;
  width: 3px;
  background: #000;
  margin: 15px auto;
  position: absolute;
  left: 0px;
  top: 0;
}
#the-studio #the-studio_slider .the-studio_slider .the-studio_slider_item .col-md-4:nth-child(2):after {
  display: block;
  content: '';
  height: 100px;
  width: 3px;
  background: #000;
  margin: 15px auto;
  position: absolute;
  left: 100%;
  top: 0;
}
#last-works .last-works {
  height: 90px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#last-works .last-works h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}
#last-works .last-works .last-works_filter {
  float: right;
  margin-top: -2%;
}
#last-works .last-works .last-works_filter a {
  font-family: 'Roboto';
  color: #666;
  font-size: 17px;
  text-transform: none;
  padding: 0 20px;
}
#last-works .last-works .last-works_filter a.active {
  color: #fff;
}
#last-works .last-works_catalog {
  background: url(../img/back-ow-work.jpg);
  background-size: 135%;
  height: 1600px;
}
#last-works .last-works_catalog .col-md-12:nth-child(even) {
  margin-left: 30%;
}
#last-works .last-works_catalog .col-md-12:nth-child(odd) {
  margin-left: 12%;
}
#last-works .last-works_catalog .last-works_catalog_item {
  background: url(../img/back-work-item.png) no-repeat;
  background-size: contain;
  width: 530px;
  height: 430px;
  color: #fff;
  text-align: center;
}
#last-works .last-works_catalog .last-works_catalog_item img {
  padding: 5px;
}
#last-works .last-works_catalog .last-works_catalog_item .last-works_catalog_item-title {
  padding-top: 140px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}
#last-works .last-works_catalog .last-works_catalog_item .last-works_catalog_item-descr {
  font-size: 18px;
}
#last-works .last-works_catalog .last-works_catalog_item .last-works_catalog_item-descr:after {
  display: block;
  content: '';
  height: 1px;
  width: 50px;
  background: #fff;
  margin: 10px auto;
}
#last-works .last-works_more {
  background: url(../img/works-more.jpg);
  background-size: cover;
  height: 100px;
  overflow: hidden;
}
#last-works .last-works_more .last-works_more_btn {
  display: block;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  max-width: 400px;
  text-align: center;
  margin: 25px auto;
}
#last-works .last-works_more .last-works_more_btn:hover {
  background: rgba(125, 209, 200, 0.34);
}
#products .products_title {
  height: 90px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#products .products_title h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}
#products .products_banner {
  font-family: 'Roboto';
  height: 575px;
}
#products .products_banner .products_banner_info {
  min-height: 60px;
  background: #f1f1f1;
  width: 80%;
  margin: 70px auto 50px auto;
}
#products .products_banner .products_banner_info p {
  display: block;
  width: 70%;
  font-size: 13px;
  margin: 0 auto;
  padding-top: 10px;
}
#products .products_banner .products_banner_info p:before {
  content: '';
  background: url(../img/icon-info-round.png) no-repeat;
  width: 27px;
  height: 31px;
  float: left;
  padding: 0 30px;
  margin-top: 5px;
}
#products .products_banner .products_banner_img {
  width: 80%;
  height: 250px;
  background: #7dd1c8;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 70px;
}
#products .products_banner .products_banner_img .products_banner_img_border {
  border: 2px solid #fff;
  height: 230px;
  color: #fff;
}
#products .products_banner .products_banner_img .products_banner_img_border .products_banner_img_title {
  margin-top: 30px;
  font-size: 45px;
}
#products .products_banner .products_banner_img .products_banner_img_border .products_banner_img_title span {
  font-weight: bold;
}
#products .products_banner .products_banner_img .products_banner_img_border .products_banner_img_text p {
  font-size: 15px;
  margin: 0;
  padding: 20px 0;
}
#products .products_banner .products_banner_img .products_banner_img_border .products_banner_img_price {
  width: 200px;
  border: 2px solid #fff;
  padding: 10px;
}
#products .products_banner .products_banner_img .products_banner_img_border .products_banner_img_price a {
  color: #fff;
  font-weight: bold;
}
#products .products_banner .products_banner_img .products_banner_img_logo {
  margin-top: 30px;
}
#products .products_examle {
  font-family: 'Roboto';
  min-height: 420px;
  margin: 20px 0;
}
#products .products_examle .products_examle_img {
  height: 420px;
  background: #999;
}
#products .products_examle .products_examle_info {
  padding-left: 30px;
}
#products .products_examle .products_examle_info .products_examle_info_title {
  max-width: 300px;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 45px;
  font-size: 45px;
}
#products .products_examle .products_examle_info .products_examle_info_title span {
  font-weight: bold;
}
#products .products_examle .products_examle_info .products_examle_info_text p {
  font-size: 15px;
  margin: 0;
  padding: 20px 0;
  padding-bottom: 30px;
}
#products .products_examle .products_examle_info .products_examle_info_text ul {
  margin-bottom: 40px;
}
#products .products_examle .products_examle_info .products_examle_info_text li {
  font-weight: bold;
  list-style-type: square;
  margin-left: 20px;
}
#products .products_examle .products_examle_info .products_examle_info_price {
  width: 185px;
  border: 2px solid #000;
  padding: 10px;
}
#products .products_examle .products_examle_info .products_examle_info_price a {
  font-weight: bold;
}
#products .products_examle_more-products .products_examle_more-products_btn {
  width: 500px;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000;
  padding: 10px;
}
#products .products_examle_more-products .products_examle_more-products_btn:hover {
  background: rgba(125, 209, 200, 0.34);
}
.share-icon_all {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 10px;
}
#journal .journal_title {
  height: 90px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#journal .journal_title h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}
#journal .journal_share-btn {
  height: 70px;
  text-align: right;
  padding-top: 20px;
}
#journal .journal_share-btn span {
  color: #7b7b7b;
}
#journal .journal_share-btn .tw {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 10px;
  background: url(../img/tweet-icon.png) no-repeat;
}
#journal .journal_share-btn .fb {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 10px;
  background: url(../img/facebook-icon.png) no-repeat;
}
#journal .journal_share-btn .gp {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 10px;
  background: url(../img/google-+-icon.png) no-repeat;
}
#journal .journal_last-article {
  font-family: 'Roboto';
  text-align: center;
}
#journal .journal_last-article .col-md-6 {
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
}
#journal .journal_last-article .col-md-6 .journal_last-article_breadcrumbs {
  color: #7b7b7b;
}
#journal .journal_last-article .col-md-6 .journal_last-article_title {
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 25px;
}
#journal .journal_last-article .col-md-6 .journal_last-article_read-more-btn {
  width: 120px;
  display: block;
  margin: 70px auto;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000;
  padding: 10px;
}
#journal .journal_last-article .col-md-6 .journal_last-article_read-more-btn:hover {
  background: rgba(125, 209, 200, 0.34);
}
#journal .jornal_older-posts {
  height: 95px;
  background: #1b1b1b;
  overflow: hidden;
}
#journal .jornal_older-posts .jornal_older-posts_btn {
  color: #fff;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #fff;
  padding: 10px;
}
#journal .jornal_older-posts .jornal_older-posts_btn:hover {
  background: rgba(125, 209, 200, 0.34);
}
#contacts{
  padding-bottom: 30px;
}
.contacts-ico-background {
  padding-left: 25px;
  font-size: 15px;
}
.contacts_form_all {
  font-size: 15px;
  color: #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  width: 100%;
  padding-left: 30px;
}
#contacts .contacts_title {
  height: 70px;
  text-transform: uppercase;
  font-size: 36px;
  background: #222;
}
#contacts .contacts_title h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}
#contacts .contacts_info {
  margin-top: 40px;
  padding-left: 150px;
}
#contacts .contacts_info .contacts_info_logotype {
  padding: 0;
}
#contacts .contacts_info .contacts_info_logotype span {
  font-size: 40px;
}
#contacts .contacts_info .contacts_info_logotype p {
  margin: 0;
  font-style: italic;
  display: block;
  position: relative;
  left: 56px;
  top: -16px;
}
#contacts .contacts_info .contacts_info_text p {
  font-size: 18px;
  line-height: 25px;
}
#contacts .contacts_info .contacts_info_details {
  margin-top: 35px;
}
#contacts .contacts_info .contacts_info_details .contacts_info_details_home {
  padding-left: 25px;
  font-size: 15px;
  background: url(../img/contacts-icon.png) no-repeat 0 2px;
}
#contacts .contacts_info .contacts_info_details .contacts_info_details_phone {
  padding-left: 25px;
  font-size: 15px;
  background: url(../img/contacts-icon.png) no-repeat 0 -23px;
}
#contacts .contacts_info .contacts_info_details .contacts_info_details_fax {
  padding-left: 25px;
  font-size: 15px;
  background: url(../img/contacts-icon.png) no-repeat 0 -50px;
}
#contacts .contacts_info .contacts_info_details .contacts_info_details_email {
  padding-left: 25px;
  font-size: 15px;
  background: url(../img/contacts-icon.png) no-repeat 0 -76px;
}
#contacts .contacts_form {
  margin-top: 40px;
  max-width: 750px;
}
#contacts .contacts_form_name {
  font-size: 15px;
  color: #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  width: 100%;
  padding-left: 30px;
}
#contacts .contacts_form_email {
  font-size: 15px;
  color: #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  background-color: rgba(34, 34, 34, 0.1);
  width: 100%;
  padding: 15px 0 10px 30px;
  margin-bottom: 10px;
}
#contacts .contacts_form_email.slide{
  display: none;
}
#contacts .contacts_form_message {
  font-size: 15px;
  color: #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  width: 100%;
  padding-left: 30px;
  padding-top: 25px;
  min-height: 120px;
}
#contacts .contacts_form_submit {
  width: 100%;
  height: 45px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  background: #ffd900;
  border: 1px solid #ffd900;
  transition: 0.3s;
}
#contacts .contacts_form_submit:hover{
  background: #fff;
  color: #ffd900;
}
#contacts .contacts_image {
  width: 100%;
  height: 400px;
  background: #999;
}
.footer_social_all {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
}
#footer {
  background: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.6);
}
#footer .footer_social {
  margin: 40px 0 30px;
}
#footer .footer_social .footer_social_tw {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
  background: url(../img/social-footer.png) no-repeat 0 0px;
}
#footer .footer_social .footer_social_fb {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
  background: url(../img/social-footer.png) no-repeat -65px 0px;
}
#footer .footer_social .footer_social_gp {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
  background: url(../img/social-footer.png) no-repeat -125px 0px;
}
#footer .footer_social .footer_social_li {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
  background: url(../img/social-footer.png) no-repeat -189px 0px;
}
#footer .footer_social .footer_social_in {
  display: inline-block;
  width: 29px;
  height: 30px;
  padding-right: 60px;
  background: url(../img/social-footer.png) no-repeat -253px 0px;
}
#footer .footer_rights {
  font-weight: lighter;
}
.slick-dots {
  margin-bottom: 40px;
}
.slick-dots li button:before {
  font-size: 15px;
}
#reviews .reviews h3 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 25px;
}
#reviews .reviews {
    height: 70px;
    text-transform: uppercase;
    font-size: 36px;
    background: #222;
}
#reviews > .container{
  max-width: 800px;
  margin: 0 auto;
}
#reviews .slider2{
  position: relative;
    margin: 20px 0;
}
#reviews .slider2 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
#reviews .slider2 p{
  text-align: center;
}
#reviews .slider2 p.name{
  font-weight: 600;
}
#reviews .slider2 .slick-dots{
  bottom: 0;
  position: inherit;
  margin: 0;
}
#reviews .slider2 .slick-dots li{
  display: inline-block;
}
.scroll-top{
    display: none;
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 30px;
    right: 20px;
    background: url(../img/up-chevron-button.png)no-repeat;
    cursor: pointer;
}
